/*
/ Navigation Bar Styling /
*/


/* Makes the navbar horizontal as opposed to vertical */
.navbar-inverse.bg-inverse{
	display: flex;
	flex-direction: row;
	padding-bottom: 0.1rem;
}

/* nikodev.ca "logo" */
	/*position: absolute;
	left:10%;*/
.navbar-inverse .navbar-brand {
	float: right;
	font-size: 1.5rem;
  color: #8cc1ff;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	margin: 0rem;
}

/* overrides bootstrap spcificity to keep "logo" same color always */
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-toggler:focus,
.navbar-inverse .navbar-toggler:hover{
  color: #8cc1ff;
}

.navbar-inverse li:hover {
  color: #8cc1ff;
}

.navbar-inverse li:active {
  border-bottom: 3px solid  #8cc1ff;
  padding-bottom: 3px;
}

.bg-inverse {
	/* Have to use important to override because bootstrap does as well*/
  background-color: #292b2c !important;
}

/* temporary */
.custom-nav-link {
	display: block;
	/* bootstrap's font-family preference */
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.5rem;
	list-style: none;
	color: white;

  padding-top: 0.25rem; /* bootstrap's navbar-brand top margin is .25rem (used to center) */
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* used in styling of links, including in navbar*/
a.no-text-decor{
	text-decoration: none;
	color: white;
	transition: color 0.2s ease;
}
/* used in styling of links, including in navbar*/
a.no-text-decor:hover{
  color: #8cc1ff;
}

.selected {
  border-bottom: 3px solid  #8cc1ff;
  padding-bottom: 3px;
}

.navbar-offset-box{
	height: inherit;
	width: 10%;
}
.navbar-offset-box-sm{
	height: inherit;
	width: 2.5%;
}

/*
/ Body Styling /
*/
.w-35{
	width: 35%;
}

.mt-5{
	margin-top: 5%;
}

.mt-2{
	margin-top: 2%;
}

.custom-text-style {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.5rem;
	color: #292b2c;
}

h1.h2 {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.projects-thumb {
	max-width: 100%;
	max-height: 100%;
}

img {
	width: 100%;
	max-height: 100%;
}

img:hover{
	outline: none;
	border-radius: 7px;
	border-color: #8cc1ff;
	box-shadow: 0 0 10px 3px #8cc1ff;
}
.zoom {
    padding-top: 1rem;
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 
}

.list-unstyled{
	font-size: 1.25rem;
}

.w-10 {
  width: 10% !important;
}

.w-55 {
  width: 55% !important;
}

.w-22{
	width: 22.5%;
}

.sub-body{
	padding-left: 3rem;
	padding-right: 3rem;
}
