/*
/ Navigation Bar Styling /
*/


/* Makes the navbar horizontal as opposed to vertical */
.navbar.navbar-inverse.bg-inverse{
	display: flex;
	flex-direction: row;
	padding-bottom: 0.1rem;
}

/* nikodev.ca "logo" */
	/*position: absolute;
	left:10%;*/
.navbar-inverse .navbar-brand {
	float: right;
	font-size: 1.5rem;
  color: #8cc1ff;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	margin: 0rem;
}

/* overrides bootstrap spcificity to keep "logo" same color always */
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-toggler:focus,
.navbar-inverse .navbar-toggler:hover{
  color: #8cc1ff;
}

.navbar-inverse li:hover {
  color: #8cc1ff;
}

.navbar-inverse li:active {
  border-bottom: 3px solid  #8cc1ff;
  padding-bottom: 3px;
}

.bg-inverse {
	/* Have to use important to override because bootstrap does as well*/
  background-color: #292b2c !important;
}

/* temporary */
.custom-nav-link {
	display: block;
	/* bootstrap's font-family preference */
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.5rem;
	list-style: none;
	color: white;

  padding-top: 0.25rem; /* bootstrap's navbar-brand top margin is .25rem (used to center) */
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* used in styling of links, including in navbar*/
a.no-text-decor{
	text-decoration: none;
	color: white;
}
/* used in styling of links, including in navbar*/
a.no-text-decor:hover{
  color: #8cc1ff;
}

.selected {
  border-bottom: 3px solid  #8cc1ff;
  padding-bottom: 3px;
}

.navbar-offset-box{
	height: inherit;
	width: 10%;
}
.navbar-offset-box-sm{
	height: inherit;
	width: 2.5%;
}

/*
/ Body Styling /
*/
.w-35{
	width: 35%;
}

.mt-5{
	margin-top: 5%;
}

.custom-text-style{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.5rem;
	color: #292b2c;
}

h1.h2{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}