<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!-- The 3 metatags above must come above any other meta tags for bootstrap purposes -->
    <title>To-Do lists</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom_css.css" rel="stylesheet">
  </head>

  <header>
  		<!--navigation bar start-->
	    <div class="navbar navbar-inverse bg-inverse">
	        <a href="#" class="navbar-brand">nikodev.ca</a>
	        <ul class="d-flex flex-row mb-0">
	        	<li class="custom-nav-link"><a href='/' class="no-text-decor">Home</a></li>
	        	<li class="custom-nav-link">Projects</li>
	        	<li class="custom-nav-link"><a href='contact' class="no-text-decor">Contact</a></li>
	        </ul>
	    </div>
		<!--navigation bar end-->
	</header>

  	<body>



   	</body>
</html>

{% block testblock %} {% endblock %}

