{% extends 'base-mobile.html' %}
{% block title %}Niko Oshinov - Contact{% endblock %}
{% block bodyblock %}

	<div class='pr-2 pl-2'>
		<h1 class = "h2 mt-5">Contact Information</h1>
		<ul class="custom-text-style">
			<li><a href="mailto:nick.oshinov@gmail.com">Email</a></li>
			<li><a href="https://www.linkedin.com/in/nikolay-oshinov-358186a0/">LinkedIn</a></li>
			<li><a href="https://github.com/nikodevv">GitHub</a></li>
			<li><a href="">Discord: Santas Here#0205</a></li>
			<li><a href="">Skype: merrycritmas</a></li>
			<li><a href="https://open.spotify.com/user/12173646392">Spotify</a></li>
		</ul>
	</div>

{% endblock %}

{% block jscode %}
{% endblock %}