{% extends 'base.html' %}
{% block bodyblock %} 
	<div class="d-flex flex-row justify-content-center">
		<div class="w-25"></div>
		<div class="w-35" id="body_text">
			<p class="mt-5 text-center custom-text-style">
				Hey there, <br>
				My name is Niko Oshinov and I am a former financial analyst.<br>
				I spent the last two years working for <a href="http://www.lightwaterpartners.com"/>a hedge fund</a> while finishing 
				my BA in economics with a minor in mathematics from the <a href="https://www.economics.utoronto.ca/">University of Toronto</a>.<br><br>
				Although I may one day return to the financial industry, I have decided to
				focus on my true passion in life: 
				<br><br> <b>software development </b><br><br>
				I have created this website to showcase my projects as I continue on my journey to becoming a better developer.
			</p>
		</div>
		<div class="w-25"></div>
	</div>
{% endblock %}

{% block jscode %}
	<script>
		$("#body_text").width($("#navigation_bar").width()) //found #navigation_bar is in base.html
	</script>
{% endblock %}