{% extends 'base-mobile.html' %}
{% block title %}Niko Oshinov - Home{% endblock %}
{% block bodyblock %} 
	<p class="mt-5 pr-2 pl-2 text-center custom-text-style">
		Hey there, <br>
				My name is Niko Oshinov and I am a finance professional.
				I have a BA in economics with a minor in mathematics from the <a href="https://www.economics.utoronto.ca/">University of Toronto</a>.<br><br>
				
				I created this website to document my progress as I continue on my journey to writing <b>better code</b>.
	</p>
{% endblock %}

{% block jscode %}
{% endblock %}