{% extends 'base.html' %}
{% block title %}Niko Oshinov - Home{% endblock %}
{% block bodyblock %} 
	<div class="d-flex flex-row justify-content-center">
		<div class="w-55" id="body_text">
			<p class="mt-5 text-center custom-text-style">
				Hey there, <br>
				My name is Niko Oshinov and I am a finance professional.
				I have a BA in economics with a minor in mathematics from the <a href="https://www.economics.utoronto.ca/">University of Toronto</a>.<br><br>
				
				I created this website to document my progress as I continue on my journey to writing <b>better code</b>.
			</p>
		</div>
	</div>
{% endblock %}

{% block jscode %}
	<script>
		var width = document.getElementById('navigation_bar').offsetWidth;
		document.getElementById('body_text').style.width = width +'px';
	</script>
{% endblock %}