{% extends 'base.html' %}
{% block title %}Niko Oshinov - Home{% endblock %}
{% block bodyblock %} 
	<div class="d-flex flex-row justify-content-center">
		<div class="w-55" id="body_text">
			<p class="mt-5 text-center custom-text-style">
				Hey there, <br>
				My name is Niko Oshinov and I am a former financial analyst.<br>
				I spent the last two years working for <a href="http://www.lightwaterpartners.com"/>a hedge fund</a> while finishing 
				my BA in economics with a minor in mathematics from the <a href="https://www.economics.utoronto.ca/">University of Toronto</a>.<br><br>
				Although I may one day return to the financial industry, I have finally decided to
				focus on my true passion in life: 
				<br><br> <b>software development</b><br>
				(and statistics)<br><br>
				I created this website to showcase my projects as I continue on my journey.
			</p>
		</div>
	</div>
{% endblock %}

{% block jscode %}
	<script>
		var width = document.getElementById('navigation_bar').offsetWidth;
		document.getElementById('body_text').style.width = width +'px';
	</script>
{% endblock %}