{% extends 'base-mobile.html' %}
{% block title %}Niko Oshinov - Home{% endblock %}
{% block bodyblock %} 
	<p class="mt-5 pr-2 pl-2 text-center custom-text-style">
		Hey there, <br>
		My name is Niko Oshinov and I am a former financial analyst.<br>
		I spent the last two years working for <a href="http://www.lightwaterpartners.com"/>a hedge fund</a> while finishing 
		my BA in economics with a minor in mathematics from the <a href="https://www.economics.utoronto.ca/">University of Toronto</a>.<br><br>
		Although I may one day return to the financial industry, I have finally decided to
		focus on my true passion in life: 
		<br><br> <b>software development</b><br>
		(and statistics)<br><br>
		I created this website to showcase my projects as I continue on my journey.
	</p>
{% endblock %}

{% block jscode %}
{% endblock %}