{% extends 'base-mobile.html' %}
{% block title %}Niko Oshinov - Projects{% endblock %}

{% block bodyblock %} 
		<!-- differs from non-mobile page removing centering containers and 
			featuring a different container class for each li element -->
		<ul class="custom-text-style sm-font pl-2 pr-2">
			<!--Entry Start - Stats database -->
			<h2 class = "h2 mt-2">Frontend Developer</h2>
			<div class ="pl-2 pr-2">
				<li class="list-unstyled">
					Currently working part-time for Stockenja on their 
					<a href="https://crystalball.stockenja.com/dashboard/analysis/summary?ticker=TCX" target="_blank">Crystall Ball</a> project,
					a stock analysis platform targeted at retail investors.
				</li>
				<!-- Commented out; picture doesnt look good on mobile
					<div class="projects-thumb zoom d-flex flex-row justify-content-center">
						<img class="" src="/static/pictures/projects/crypto.png" title="screenshot of module"/>
					</div>
				-->
				<br>
			</div>


			<!--Entry Start - Stats database -->
			<h2 class = "h2 mt-2">Dota Stats Database</h2>
			<div class ="pl-2 pr-2">
				<li class="list-unstyled">
					Dota 2 is a video game with a multi-million dollar professional scene. Before each
					game, teams draft Heroes from a common pool, which have a significant impact on the strategic aspects of 
					the game. During a draft, a team caught off guard stands to lose millions in potential earnings, which paves 
					the way for draft-time analytics tools to add value. 
					<br><br>
					With this in mind, I created a Dota 2 statistics database which stores professional match data.
					Although comparable databases and APIs exist, they tend to either constrict the number of results returned, or 
					take a long time to return queries. 
					<br><br>
					In order to build a real time draft analytics app, I had to create my own backend. This is it. 
					Match data is pulled from Valve's public API, and aggregated/processed into models aimed to deliver
					<a href="../stats/matches?heroes=113,2&teams=3331948,2108395" target="_blank">lightning fast queries</a>.
					<br><br>
					Djano/DRF/postgreSQL stack. Frontend pending...
				</li>
				<!-- Commented out; picture doesnt look good on mobile
					<div class="projects-thumb zoom d-flex flex-row justify-content-center">
						<img class="" src="/static/pictures/projects/crypto.png" title="screenshot of module"/>
					</div>
				-->
				<br>
			</div>
			<!-- Entry Start - crypto currency -->
			<h2 class = "h2 mt-2">Marketing Website Contract</h2>
			<div class ="pl-2 pr-2">
				<li class="list-unstyled">
					A cryptocurrency company was looking to raise 10M in private equity from non-institutional investors. 
					<br><br>
					I was contracted to develop an interactive JavaScript module which calculated and graphed expected investment returns,
					dividend payments, and equity costs based on the current and dynamically changing market value of ETH/CAD.
				</li>
				<!-- Commented out; picture doesnt look good on mobile
					<div class="projects-thumb zoom d-flex flex-row justify-content-center">
						<img class="" src="/static/pictures/projects/crypto.png" title="screenshot of module"/>
					</div>
				-->
				<br>
			</div>
			<!-- Entry Start - Data mining-->
			<h2 class = "h2 mt-2">Data Mining Contract</h2>
			<div class ="pl-2 pr-2">
				<li class="list-unstyled">
					A small Peruvian airline contracted me to create and deploy a geolocation data mining script.
					The airline owns several seaplanes primarily used to provide emergency supplies to remote Peruvian villages. 
					<br><br>
					The script makes API calls to onboard GPS systems and then plots the data via KML. The data can then be opened in 
					a variety of visualization tools including Google Earth.

				</li>
				<div class="projects-thumb zoom d-flex flex-row justify-content-center">
					<img class="rounded" src="/static/pictures/projects/kml_example.png" title="Visualization created with GPSvisualizer.com"/>
				</div>
				<br>
			</div>
			<!-- Entry Start - quickData-->
			<h2 class = "h2 mt-2">quickData</h2>
			<div class ="pl-2 pr-2">
				<li class="list-unstyled">
					US-traded public companies' financial methodologies can vary based on industry, business model,
					geographic location, and company-specific preferences. Any particular company's financials
					can change significantly quarter to quarter, both in terms of account names, and statement
					structure.<br><br>
					<a class="text-center" href="https://github.com/nikodevv/quickData">quickData</a> is a python library which scrapes the Secruities Exchange Comission (SEC) 
					website for public filings and generates time-series data.
					quickData is able to create n:m mappings between different financial reports of any given
					publicly traded company and combine these filings into a single time-series.
					<br>
				
				</li>
				<div class="projects-thumb zoom d-flex flex-row justify-content-center">
				<a href="https://github.com/nikodevv/quickData">
					<img class="rounded" src="/static/pictures/projects/quickData.png" alt="picture of git repo"/></a>
				</div>
				<li class="list-unstyled">
					As an ongoing project, I intend to add a record of how quickData maps different filings 
					to one another so as to have lossless and dynamically reversible mappings. To my knowledge 
					(as an industry insider),
					none of the commercially available modelling tools used by hedge funds and banks are capable of serving 
					financial records without information loss due to consolidation. <!--This forces analysts to do a large amount of
					manual data entry. The data entry is time expensive, a source of errors, and distracts the
					analysts from things that matter while subjecting them to a mind numbingly boring task. With its
					(future) ability to reverse mappings, quickData will eliminate the need for manual data entry.   ADD WHEN NEXT PROJECT IS UP-->
				</li>
			</div>
			<!-- Entry End - quickDAta-->
			<!-- Entry Start - Parallax Theme-->
			<h2 class="h2 mt-5">Parallax Theme - Toronto Skyline</h2>
			<div class="pl-2 pr-2">
				<div class="projects-thumb zoom d-flex flex-row justify-content-center">
					<a href="/projects/toronto_sky/">
						<img class="rounded" src="/static/pictures/projects/toronto_thumb.png" alt="picture of Toronto Sky project"/>
					</a>
				</div>
				<li class="list-unstyled">A javascript/css/html parallax scrolling
					<a href="/projects/toronto_sky/">website</a>.</li>
			</div>
			<!-- Entry End - Parallax Theme-->
		</ul>
{% endblock %}

{% block jscode %}
{% endblock %}